* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    color: #617383;
    /* margin-bottom: 3px; */
}
header {   
    background-color: #2D3945;
    margin: 0;
    padding: 10px;
    text-align: center;
}
h1{
    color: white;
    text-transform: uppercase;
    margin: auto;
    font-weight: 900;
}
h2 {
    color: #2D3945;
}

form {
    display: flex;
    flex-direction: column;
}
fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}
legend {
    color:#2D3945;
    font-weight: 700;
}
.contact_info input {
    min-height: 40px;
}

label {
    /* align-self: flex-start; */
}
input:focus {
    border: 1px solid black;
    background-color: bisque;
}

input[type="submit"] {
    background-color: #4EBBB5;
    color: white;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 15px;
}
textarea {
    height:75px;
}

footer{
    text-align: center;
}

input {
    transition-property: background-color;
    transition-duration: 1s;
}

.top {
    border-bottom: 2px solid black;
    text-align: center;
    line-height: 0.5rem;
    padding-bottom: 25px;
    border-bottom: 2px solid black;
}
.form {
    margin-top: 3px;
    border-top: 1px double black;
    padding-top: 25px;
}
.contact_info {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    background-color: azure;
}

.contact_field {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {

    
    .top, .form, .footer {
        width: 600px;
        margin: 3px auto;
    }
    
    label {
        margin: 3px;
    }
    .contact_field {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px 0;
    }
    .contact_field input, .contact_field select {
        width: 400px;
        margin-left: auto;
        
    }

    .newsletter_field {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    

}
    
